body{
    padding: 100px;
}
.submit-area{
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}

#transaction-window{
    display: none;
}
.status{
    padding: 20px;
    margin: 0 100px;
    border-radius: 20px;
    color: white;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}